<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Dream Home</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="images/logo.jpg" alt="brand logo" />
        </a>
      </div>

      <nav>
        <ul>
          <li><a id="home" href="/">Home</a></li>
          <li><a id="about" href="/about">About</a></li>
          <li><a id="contact" href="/contact">Contact</a></li>
          <li><a id="find-agent" href="/find">Find Agent</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero">
        <h2>Find Your Dream Home</h2>
        <a href="/dream" class="btn">Search Properties</a>
      </div>
      <section class="cards">
        <div class="card">
          <img src="images/login.jpg" alt="Agent" class="card-img" />
          <h3>Agent Login</h3>
          <a id="agentlogin" href="/agentlogin" class="btn" target="_blank"
            >Login</a
          >
        </div>
        <div class="card">
          <img src="images/login.jpg" alt="Administrator" class="card-img" />
          <h3>Administrator Login</h3>
          <a id="adminlogin" href="/adminlogin" class="btn" target="_blank"
            >Login</a
          >
        </div>
        <div class="card">
          <img src="images/login.jpg" alt="Office" class="card-img" />
          <h3>Office Login</h3>
          <a id="officelogin" href="/officelogin" class="btn" target="_blank"
            >Login</a
          >
        </div>
      </section>
    </main>
    <footer>
      <a href="index.ejs">
        <img src="images/logo.jpg" alt="Company Logo" class="logo" />
      </a>
      <h3>&copy;2023 Property.com</h3>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </footer>
  </body>
</html>
