<!DOCTYPE html>
<html>
  <head>
    <title>Add Transaction Data</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/agent2.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="images/logo.jpg" alt="brand logo" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a id="home" href="/">Home</a></li>
          <li><a id="about" href="/about">About</a></li>
          <li><a id="contact" href="/contact">Contact</a></li>
          <li><a id="find-agent" href="/find">Find Agent</a></li>
        </ul>
      </nav>
    </header>
    <h1>Add Transaction Data</h1>
    <form action="/insertransaction" method="post">
      <label for="transaction_id">Transaction ID:</label>
      <input
        class="field"
        type="text"
        id="transaction_id"
        name="transaction_id"
        required
      />

      <label for="pid">Property ID:</label>
      <input class="field" type="text" id="pid" name="pid" required />

      <label for="seller_id">Seller ID:</label>
      <input
        class="field"
        type="text"
        id="seller_id"
        name="seller_id"
        required
      />

      <label for="buyer_id">Buyer ID:</label>
      <input class="field" type="text" id="buyer_id" name="buyer_id" required />

      <label for="transaction_date">Transaction Date:</label>
      <input
        class="field"
        type="date"
        id="transaction_date"
        name="transaction_date"
        required
      />

      <label for="transaction_amount">Transaction Amount:</label>
      <input
        class="field"
        type="number"
        id="transaction_amount"
        name="transaction_amount"
        required
        step="0.01"
      />

      <label for="commission">Commission:</label>
      <input
        class="field"
        type="number"
        id="commission"
        name="commission"
        required
        step="0.01"
      />

      <label for="agent_id">Agent ID:</label>
      <input class="field" type="text" id="agent_id" name="agent_id" required />

      <input type="submit" value="Add Transaction" />
    </form>
    <footer>
      <img src="images/logo.jpg" alt="Company Logo" class="logo" />
      <h3>&copy;2023 Property.com</h3>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>
  </body>
</html>
